.furniture-interior-banner-section h2{
    font-family: 'Ubuntu', sans-serif !important;
}
.furniture-interior-banner-section{
    width: auto;
    height: auto;
    min-height: 600PX;
}
/*furniture-interior-banner-section*/
.furniture-interior-banner-section h2 {
    font-weight: 800;
    letter-spacing: 0px;
}
.furniture-interior-banner-section {
    position: relative;
}
/*furniture-interior-learn-more-section*/
figure.aligncenter.size-full {
    border: none;
}
.furniture-interior-shipping-section{
    padding: 15px 0px 5px 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #eeee;
}
.furniture-interior-learn-more-section1 {
    margin-top: -8% !important;
    position: relative;
    z-index: 9;
    max-width: 800px;
    margin: 0 auto;
}
.furniture-interior-shipping-section p.paragraph-1 {
    font-weight: bold;
}
/*furniture-interior-aboutus-section*/
.furniture-interior-project-section img{
    width: 100% !important;
    height: auto !important;
}
.furniture-interior-project-section h2{
    margin: 70PX 0 15PX 0;
}
.furniture-interior-project-section h3{
    margin-top: -32px;
    border-radius: 0px 0px 15px 15px;
}
.furniture-interior-project-section-columns {
    background: #fff;
    padding: 25px;
    height: auto;
    outline: 3px solid #9759cf;
    outline-offset: -15px;
    position: relative;
    left: -70px;
}
@media screen and (min-width: 320px) and (max-width:720px) {
    .furniture-interior-project-section-image{
       margin-left: 0px !important;
    }
    .furniture-interior-project-section-columns {
      left: auto;
    }
}
@media screen and (min-width: 721px) and (max-width:991px) {
    .furniture-interior-learn-more-section1 {
       flex-wrap: nowrap !important;
    }
    .furniture-interior-project-section{
       flex-wrap: nowrap !important;
    }
    .furniture-interior-project-section-columns{
       flex-wrap: nowrap !important;
    }
    .furniture-interior-project-section h2 {
        margin: 0PX 0 0PX 0;
    }
    .furniture-interior-project-section h3{
        padding: 0.5em;
    }
}
@media screen and (min-width: 1000px) and (max-width:1024px){
    .furniture-interior-project-section h2 {
        margin: 13PX 0 15PX 0;
    }
}
